In [148]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import date, timedelta, datetime
import time
import random

# create app
sc = SparkSession.builder.appName("cleansingcrimes")\
.config ("spark.sql.shuffle.partitions", "50")\
.config("spark.driver.maxResultSize","5g")\
.config ("spark.sql.execution.arrow.enabled", "true")\
.getOrCreate()

# Extract Json file
df = sc.read.csv('dataset/crimes.csv') 
df.show(5, truncate=False)

+----+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
|_c0 |_c1     |_c2    |_c3             |_c4             |_c5      |_c6      |_c7                        |_c8      |_c9            |_c10                 |_c11                 |_c12   |
+----+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
|null|Crime.ID|Month  |Reported.by     |Falls.within    |Longitude|Latitude |Location                   |LSOA.code|LSOA.name      |Crime.type           |Last.outcome.category|Context|
|1   |null    |2016-04|Cleveland Police|Cleveland Police|-1.238154|54.710767|On or near Greyfriers Court|E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|2   |null    |2016-04|Cleveland Police|Cleveland Police|-1.239958|54.710607|On or near Marshall Close  |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|3   |null    |2016-04|Cleveland Police|Cleveland Police|-1.239958|54.710607|On or near Marshall Close  |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|4   |null    |2016-04|Cleveland Police|Cleveland Police|-1.238644|54.709494|On or near Whin Meadows    |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
+----+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
only showing top 5 rows

In [149]:
# Jadikan row pertama sebagai Kolom
df = df.na.fill(value="No",subset=["_c0"])
row_list = df.select('*').first()
list_column = [x for x in row_list]
df = df.toDF(*list_column)
# drop row pertama
df = df.filter(df.No != "No")
df.show(5, truncate=False)

+---+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
|No |Crime.ID|Month  |Reported.by     |Falls.within    |Longitude|Latitude |Location                   |LSOA.code|LSOA.name      |Crime.type           |Last.outcome.category|Context|
+---+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
|1  |null    |2016-04|Cleveland Police|Cleveland Police|-1.238154|54.710767|On or near Greyfriers Court|E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|2  |null    |2016-04|Cleveland Police|Cleveland Police|-1.239958|54.710607|On or near Marshall Close  |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|3  |null    |2016-04|Cleveland Police|Cleveland Police|-1.239958|54.710607|On or near Marshall Close  |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|4  |null    |2016-04|Cleveland Police|Cleveland Police|-1.238644|54.709494|On or near Whin Meadows    |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
|5  |null    |2016-04|Cleveland Police|Cleveland Police|-1.238644|54.709494|On or near Whin Meadows    |E01011954|Hartlepool 001A|Anti-social behaviour|null                 |NA     |
+---+--------+-------+----------------+----------------+---------+---------+---------------------------+---------+---------------+---------------------+---------------------+-------+
only showing top 5 rows

In [150]:
# drop Missing Value Crime.ID
df = df.na.drop(subset=["`Crime.ID`"])
df.show(3,truncate=False)
df.filter(col("`Crime.ID`").isNull()).count()

+---+----------------------------------------------------------------+-------+----------------+----------------+---------+---------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
|No |Crime.ID                                                        |Month  |Reported.by     |Falls.within    |Longitude|Latitude |Location               |LSOA.code|LSOA.name      |Crime.type               |Last.outcome.category                        |Context|
+---+----------------------------------------------------------------+-------+----------------+----------------+---------+---------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
|12 |cc5ee4533c7729c9248930bbc76a0ad9900deb26594b249c931ecd6b090ed4df|2016-04|Cleveland Police|Cleveland Police|-1.235724|54.71041 |On or near Dobson Place|E01011954|Hartlepool 001A|Criminal damage and arson|Investigation complete; no suspect identified|NA     |
|13 |9eeec7a2199b865ff2c89c382415126bf4414816248fb766c69aa1666c4ee090|2016-04|Cleveland Police|Cleveland Police|-1.235724|54.71041 |On or near Dobson Place|E01011954|Hartlepool 001A|Criminal damage and arson|Unable to prosecute suspect                  |NA     |
|14 |8d88a2fd8d4a64b42687fe9ec02b5188d689af9cb3220498ea328770e2bfb673|2016-04|Cleveland Police|Cleveland Police|-1.236212|54.713352|On or near Hutone Place|E01011954|Hartlepool 001A|Criminal damage and arson|Investigation complete; no suspect identified|NA     |
+---+----------------------------------------------------------------+-------+----------------+----------------+---------+---------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
only showing top 3 rows

0

In [151]:
# Replace value "NA" to 0 from Context column
df = df.withColumn("Context", when(df["Context"] == "NA", 0).otherwise(df["Context"]))
df.show(2, truncate=False)

+---+----------------------------------------------------------------+-------+----------------+----------------+---------+--------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
|No |Crime.ID                                                        |Month  |Reported.by     |Falls.within    |Longitude|Latitude|Location               |LSOA.code|LSOA.name      |Crime.type               |Last.outcome.category                        |Context|
+---+----------------------------------------------------------------+-------+----------------+----------------+---------+--------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
|12 |cc5ee4533c7729c9248930bbc76a0ad9900deb26594b249c931ecd6b090ed4df|2016-04|Cleveland Police|Cleveland Police|-1.235724|54.71041|On or near Dobson Place|E01011954|Hartlepool 001A|Criminal damage and arson|Investigation complete; no suspect identified|0      |
|13 |9eeec7a2199b865ff2c89c382415126bf4414816248fb766c69aa1666c4ee090|2016-04|Cleveland Police|Cleveland Police|-1.235724|54.71041|On or near Dobson Place|E01011954|Hartlepool 001A|Criminal damage and arson|Unable to prosecute suspect                  |0      |
+---+----------------------------------------------------------------+-------+----------------+----------------+---------+--------+-----------------------+---------+---------------+-------------------------+---------------------------------------------+-------+
only showing top 2 rows

In [152]:
# Ubah tipe data pada kolom No dan Context dari String menjadi Integer
df.printSchema()
for c in df.columns:    
    int_column = ["No", "Context"]
    if c in int_column:
        df = df.withColumn(c, df[c].cast("integer"))
df.printSchema()

root
 |-- No: string (nullable = false)
 |-- Crime.ID: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Reported.by: string (nullable = true)
 |-- Falls.within: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- LSOA.code: string (nullable = true)
 |-- LSOA.name: string (nullable = true)
 |-- Crime.type: string (nullable = true)
 |-- Last.outcome.category: string (nullable = true)
 |-- Context: string (nullable = true)

root
 |-- No: integer (nullable = true)
 |-- Crime.ID: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- Reported.by: string (nullable = true)
 |-- Falls.within: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- LSOA.code: string (nullable = true)
 |-- LSOA.name: string (nullable = true)
 |-- Crime.type: string (nullable = true)
 |-- Last.outcome.category: string (nullable = true)
 |-- Context: integer (nullable = true)